<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/header_style.css">
    <link rel="stylesheet" type="text/css" href="../css/footer_style.css">
    <link rel="stylesheet" type="text/css" href="../css/sidebar_style.css">
    <link rel="stylesheet" type="text/css" href="../css/error_style.css">
    <link rel="stylesheet" type="text/css" href="../css/admin_style.css">
    <link rel="stylesheet" type="text/css" href="../css/notification_style.css">
    <link rel="icon" href="https://i.imgur.com/UIhWZy5.png">
    <title>Mates Berazategui | Administrador</title>
</head>
<body>
    <div class="notification-container">
        
    </div>
    <header class="header" id="header">

    </header>

    <aside class="cart-sidebar" id="cart_sidebar">

    </aside>

    <main class="ordenes-main" id="ordenes_main">
        <div class="date-picker" id="date_picker">
            <div class="from">
                <input type="date" name="begin" placeholder="dd-mm-yyyy" value="" id="from" class="date-input">
            </div>
            <div class="to">
                <input type="date" name="begin" placeholder="dd-mm-yyyy" value="" id="to" class="date-input">
            </div>
            <button class="button-ordenes" id="button_ordenes">Traer órdenes por fecha</button>
        </div>
        <div class="mensaje-orden" id="mensaje_orden">

        </div>
        <section class="ordenes-section" id="ordenes_section">

        </section>
    </main>

    <footer class="footer" id="footer">

    </footer>

    <script type="module" src="../js/container/admin.js"></script>
</body>
</html>