<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/header_style.css">
    <link rel="stylesheet" type="text/css" href="../css/footer_style.css">
    <link rel="stylesheet" type="text/css" href="../css/error_style.css">
    <link rel="stylesheet" type="text/css" href="../css/sidebar_style.css">
    <link rel="stylesheet" type="text/css" href="../css/productDetail_style.css">
    <link rel="stylesheet" type="text/css" href="../css/notification_style.css">
    <link rel="icon" href="https://i.imgur.com/UIhWZy5.png">
    <title>Mates Berazategui | Producto</title>
</head>
<body>
    <div class="notification-container">
        
    </div>
    <header class="header" id="header">

    </header>

    <aside class="cart-sidebar" id="cart_sidebar">

    </aside>

    <main class="main-prod-section" id="main_product_section">
        <section id="product_detail">

        </section>
        <section class="related-products" id="related_products">

        </section>
    </main>

    <footer class="footer" id="footer">

    </footer>

    <script type="module" src="../js/container/producto.js"></script>
</body>
</html>